# Common
alias pping='ping google.com'
alias nconf='nano ~/.zshrc'
alias cconf='code ~/.zshrc'
alias sconf='source ~/.zshrc'
alias caws='code ~/.aws/config'
alias publicip='curl http://checkip.amazonaws.com/'
alias nsl="nslookup"
alias c='code'

# aws-vault
alias av='aws-vault'
alias avc='echo $AWS_VAULT'
alias ave='aws-vault exec'
alias avl='aws-vault list'
alias av-wik-admin='aws-vault exec whoiskai-admin --duration=4h'
alias cp-aws-id="echo -n $AWS_ACCESS_KEY_ID | pbcopy"
alias cp-aws-secret="echo -n $AWS_SECRET_ACCESS_KEY | pbcopy"
alias cp-aws-token="echo -n $AWS_SESSION_TOKEN | pbcopy"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Git related
alias g='git'
alias gcm='git commit -m'
alias gpl='git pull'
alias gpl-all-folders="find . -type d -depth 1 -exec git --git-dir={}/.git --work-tree=$PWD/{} pull origin master"
alias gtag='git describe --tags `git rev-list --tags --max-count=1`'
alias gds='git diff --staged'
alias gp='git push'
alias gb='git branch'
alias grb='git rebase'
alias gbd='git branch -d'

# Terragrunt
alias tg="terragrunt"
alias tga="terragrunt apply -compact-warnings"
alias tga-aa="terragrunt apply --auto-approve -compact-warnings"
alias tgd="terragrunt destroy -compact-warnings"
alias tgd-aa="terragrunt destroy --auto-approve -compact-warnings"
alias tgd-aa"terragrunt destroy --auto-approve -compact-warnings"
alias tgp="terragrunt plan -compact-warnings"

# Kubernetes
alias ktx="kubectx"

# Ansible
alias ap='ansible-playbook $1'
alias apc='ansible-playbook $1 --check'
alias apsc='ansible-playbook $1 --syntax-check'
alias alh='ansible --list-hosts $1'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias cd..='cd ..'
#alias ls='ls --color=auto'
alias ls='ls -G'
alias l='ls -G'
alias ll='ls -al'
alias ln='ln -v'
alias mkdir='mkdir -p'
