[user]
	# signingkey = /Users/whoiskai/.ssh/id_ed25519.pub
	email = 6267554+whoiskai@users.noreply.github.com
	name = whoiskai
[commit]
	# gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(red)%h%C(yellow)%d\\ %Creset%s%C(blue)\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(red)%h%C(yellow)%d\\ %Creset%s%C(blue)\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(cyan)%ad\\ %C(red)%h\\%C(yellow)%d\\ %Creset%s%C(blue)\\ [%cn]" --decorate --date=short
	undo = reset HEAD~1 --mixed
	conflicts = diff --name-only --diff-filter=U
	local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
	recent-branches = !git branch --sort=-committerdate | head
	authors = !git log --format='%aN <%aE>' | grep -v 'users.noreply.github.com' | sort -u --ignore-case
[pull]
	ff = only
[pager]
	branch = false
[core]
	editor = nano
	pager = delta
[delta]
	side-by-side = true
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
[color]
	ui = auto
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
# [gpg]
# 	format = x509
# [gpg "x509"]
# 	program = smimesign
[maintenance]
	repo = /Users/whoiskai/dotfiles
[gpg]
	format = ssh
